[Unit]
Description=Moonraker Preprocessing Proxy
After=network.target moonraker.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/MoonrakerPreProcessingProxy
Environment=PYENV_ROOT=/home/pi/.pyenv
Environment=PATH=/home/pi/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=VIRTUAL_ENV=/home/pi/MoonrakerPreProcessingProxy/.venv
Environment=PATH=/home/pi/MoonrakerPreProcessingProxy/.venv/bin:${PATH}
ExecStart=/home/pi/MoonrakerPreProcessingProxy/.venv/bin/python /home/pi/MoonrakerPreProcessingProxy/main.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/moonraker-proxy.log
StandardError=append:/var/log/moonraker-proxy.log

[Install]
WantedBy=multi-user.target
